[submodule "public/assets"]
	path = public/assets
	url = https://github.com/ywteam/assets
[submodule "public/pages/profile"]
	path = public/pages/profile
	url = https://github.com/ywteam/.github
[submodule "private/pages/profile"]
	path = private/pages/profile
	url = https://github.com/ywteam/.github-private
[submodule "public/packages"]
	path = public/packages
	url = https://github.com/ywteam/packages
[submodule "docs/mintlify"]
	path = docs/mintlify
	url = https://github.com/ywteam/docs.mintlify
[submodule "infra/iac"]
	path = infra/iac
	url = https://github.com/ywteam/infra.iac
