[submodule "projects/ydk/shell"]
	path = projects/ydk/shell
	url = https://github.com/ywteam/ydk.shell.git
[submodule "projects/ydk/go"]
	path = projects/ydk/go
	url = https://github.com/ywteam/ydk.go.git
[submodule "projects/ydk/node"]
	path = projects/ydk/node
	url = https://github.com/ywteam/ydk.node.git
[submodule "projects/ydk/dotnet"]
	path = projects/ydk/dotnet
	url = https://github.com/ywteam/ydk.dotnet.git
[submodule "projects/ydk/python"]
	path = projects/ydk/python
	url = https://github.com/ywteam/ydk.python.git
[submodule "infra/iac"]
	path = infra/iac
	url = https://github.com/ywteam/infra.iac.git
[submodule "public/yellowteam.cloud"]
	path = public/yellowteam.cloud
	url = https://github.com/ywteam/.github.git
[submodule "docs/mintlify"]
	path = docs/mintlify
	url = https://github.com/ywteam/docs.mintlify.git
[submodule "private/yellowteam.dev"]
	path = private/yellowteam.dev
	url = https://github.com/ywteam/.github-private.git
[submodule "assets/cdn"]
	path = assets/cdn
	url = https://github.com/ywteam/assets.cdn.git
